<template>
     <table class="products">
        <thead class="products__head">
            <tr>
                <td>
                    Название товара
                </td>
                <td>
                    Количество 
                </td>
                <td>
                    Стоимость
                </td>
            </tr>
        </thead>
        <tbody class="products__body">
            <tr v-for="item of list" :key="item.data.id">
                <td>
                    {{ item.data.title }}
                </td>
                <td>
                    {{ item.count }} шт.
                </td>
                <td>
                    {{ item.data.price * item.count }}
                </td>
            </tr>
        </tbody>
     </table>
</template>

<script setup>
import { computed, ref } from 'vue'
import store from '@/store/index';

const getList = computed(() => {
  return store.getters.getProducts
})
const list = ref(getList)


</script>

<style lang="scss" scoped>

.products {
    width: 100%;
    &__head {
        & td {
            color: #0170AE;
            padding-bottom: 20px;
        }
    }
    &__body {
        & td {
            padding-bottom: 14px;
        }
    }
}

</style>