<template>
    <div class="choose">
        <div class="choose__product products">
            <p class="choose__subtitle">
                Выберите продукцию
            </p>
            <div class="products__select" @click="toggleSelect">
                {{ currentProduct.title ? currentProduct.title : currentProduct }}
                <ul v-show="isOpen" class="products__list">
                    <li @click="chooseProduct(product.id)" class="products__item" v-for="product of products" :key="product.id">
                        {{ product.title }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="choose__count count">
            <p class="choose__subtitle">
                Введите количество
            </p>
            <input class="count__number" type="number" v-model="count">
        </div>
        <button @click="addToList" :disabled="count <= 0" type="button" class="choose__button">
            Добавить
        </button>
    </div>
</template>

<script setup>

import { onMounted, ref } from 'vue';
import store from '@/store/index';

const count = ref(0)
const products =  ref([])
const isOpen = ref(false)
const currentProduct = ref('Выберите продукцию')

onMounted(() => {
    getProducts()
})

async function getProducts() {
    try {
        const response = await fetch('https://dev-su.eda1.ru/test_task/products.php', {})
       
        if (response.ok) {
            const data = await response.json() 
            products.value = await data.products
        }
    } catch(e) {
        throw new Error(`${e}`)
    }
}

function toggleSelect() {
    isOpen.value = !isOpen.value
}

function chooseProduct(id) {
    currentProduct.value = products.value.find(item => item.id === id)
}

function addToList() {
    const obj = {
        data: currentProduct.value, 
        count: count.value,
    }
    store.dispatch('addProduct', obj)
    count.value = 0
    currentProduct.value = 'Выберите продукцию'
}

</script>

<style lang="scss">

.choose {
    max-width: 395px;
    width: 100%;
    &__subtitle {
        margin-bottom: 20px;
        font-weight: 300;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        width: 100%;
        background: #2FA6EA;
        border: 1px solid #000000;
        border-radius: 4px;
        font-weight: 400;
        color: #fff;
    }
}
.products {
    margin-bottom: 37px;
    &__select {
        position: relative;
        background: #EEF8FF;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 12px 16px;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 19px;
            display: block;
            width: 22px;
            height: 22px;
            background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.353553' y1='0.646447' x2='11.3536' y2='11.6464' stroke='%232FA6EA'/%3E%3Cline y1='-0.5' x2='15.5563' y2='-0.5' transform='matrix(-0.707107 0.707107 0.707107 0.707107 22 1)' stroke='%232FA6EA'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            transform: translateY(-50%);
        }
    }
    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1;
        background: #EEF8FF
    }
    &__item {
        padding: 12px 16px;
        &:not(:last-child) {
            border-bottom: 1px solid #000;
        }
    }
}
.count {
    margin-bottom: 48px;
    &__number {
        display: block;
        width: 100%;
        padding: 12px 16px;
        background: #EEF8FF;
        border: none;
        border-bottom: 1px solid #2FA6EA;
    }
}

</style>