<template>
    <section class="order">
        <div class="container">
            <div class="order__wrap">
                <ChooseProduct />
                <div class="order__content">
                    <ChoosenProducts />
                    <SaveProducts />
                </div>
            </div>
        </div>
    </section>
</template>

<script setup>

import ChooseProduct from './ChooseProduct.vue';
import ChoosenProducts from './ChoosenProducts.vue';
import SaveProducts from './SaveProducts.vue';

</script>

<style lang="scss">
    .order {
        padding: 45px 0 68px 0;
        &__wrap {
            display: flex;
            align-items: center;
            gap: 50px;
        }
        &__content {
            width: 100%;
        }
    }
</style>