<template>
    <div class="result">
        <p class="result__sum">
            Итого: 0
        </p>
        <button type="button" class="result__btn">
            Сохранить
        </button>
    </div>
</template>

<script setup>
// import {ref, computed} from 'vue'
// import store from '@/store';

// // const getPrice = computed(() => {
// //   return store.getters.getTotalPrice
// // })
// const price = ref(getPrice)



</script>


<style lang="scss">

    .result {
        border-top: 1px solid #2FA6EA;
        padding-top: 18px;
        margin-top: 260px;
        width: 100%;
        &__sum {
            margin-bottom: 25px;
            text-align: right;
            font-weight: 400;
        }
        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            margin: 0 auto;
            background: #61A91A;
            border-radius: 4px;
            max-width: 395px;
            width: 100%;
            font-weight: 400;
            color: #fff;
        }

    }
</style>