<template>
    <footer class="footer">
        <div class="container">
            <p class="footer__text">
                Very intresting tail
            </p>
        </div>
    </footer>
</template>

<style lang="scss">

.footer {
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 22px 25px;
    height: 220px;
    background-color: #222;
    &__text {
        font-weight: 400;
        color: #fff;
        text-align: right;
    }
}

</style>