<template>
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <p class="header__user">
                    sf
                </p>
            </div>
        </div>
    </header>
</template>

<style lang="scss" scoped>

.header {
    border: 1px solid #000000;
    padding: 16px 0;
    background-color: #755858;
    max-height: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &__user {
        font-weight: 400;
        color: #fff;
    }
}

</style>