<template>
  <TheHeaderVue />
  <main id="main">
    <OrderPage />
  </main>
  <TheFooterVue />
</template>

<script setup>

import '@/assets/styles/index.scss'

import TheHeaderVue from './components/static/TheHeader.vue';
import TheFooterVue from './components/static/TheFooter.vue';
import OrderPage from './components/order/OrderPage.vue';

</script>

