html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.16;
    color: #222;
}

p, body {
    margin: 0;
}
.container {
    padding: 0 26px;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
button {
    display: block;
    cursor: pointer;
    border: none;
}